.main-ques{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    position: relative;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.view-ques{
    width: 100%;
    height: 65%;
}
.ques-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.status{
    width: 100%;
    display: flex;
    justify-content: space-around;
    opacity: 0.6;
}
.view-ques>.body{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.body>.left{
    flex:10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body>.right{
    flex: 90%;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 15px;

}

.view-ques>.author-icon{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 10px;
    opacity: 0.6;
}

.hidden{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hidden>textarea{
    width: 50%;
    height: 150px;
}
.hidden>button{
    width:15%;
}

.comment-box,.answer-box{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}